<div>
  <div class="container" style="width: 50%; border: 1px solid silver;padding: 10px;">
    <div class="form-group">
      <label for="order" class="col-md-3 text-right">Order</label>
      <div class="col-md-9">
        <input class="form-control" name="order" [(ngModel)]='thingtodo.order'>
      </div>
    </div>
    <div class="form-group">
      <label for="order" class="col-md-3 text-right">Name</label>
      <div class="col-md-9">
        <input class="form-control" name="name" [(ngModel)]='thingtodo.name'>
      </div>
    </div>
    <div class="form-group">
      <label for="order" class="col-md-3 text-right">Monthly</label>
      <div class="col-md-9">
        <input class="form-control" name="monthly" [(ngModel)]='thingtodo.monthly'>
      </div>
    </div>
    <div class="form-group">
      <label for="order" class="col-md-3 text-right">Cost</label>
      <div class="col-md-9">
        <input class="form-control" name="cost" [(ngModel)]='thingtodo.cost'>
      </div>
    </div>
    <div class="form-group text-center">
      <button (click)="add()" class="btn btn-primary" style="margin: 10px;">Add</button>
    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Order</th>
        <th>Name</th>
        <th>Monthly</th>
        <th class="text-right">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tdd of thingstodo">
        <td>{{tdd.order}}</td>
        <td>{{tdd.name}}</td>
        <td>{{tdd.monthly}}</td>
        <td class="text-right">{{tdd.cost | currency:'USD':true:'1.2'}}</td>
      </tr>
    </tbody>
  </table>
</div>